<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biuro podróży</title>
    <meta name="description" content="Strona biura podróży">
    <meta name="keywords" content="biuro podróży, wycieczki, podróż, wakacje">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">

</head>
<body>
<header>
    <nav class="navbar navbar-dark  bg-primary navbar-expand" >
        <ul class="navbar-nav">
            <a class="navbar-link" href="index.html"><img src="img/logo1.png" width="30" height="30" class="d-inline-block" align-bottom alt="">Biuro podróży</a>
            <a class="navbar-link" href="trip.html">Wycieczki</a>
            <a class="navbar-link" href="toptrip.html">Top kierunki</a>
            <a class="navbar-link" href="lastmin.html">Last minute</a>
            <a class="navbar-link" href="lastbuy.html">Twoje konto</a>
            <a class="navbar-link" href="contact.html">Kontakt</a>
        </ul>
    </nav>
    <nav></nav>

</header>
<main>
    <section class="contact">
        <div class="container"></div>
    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>

</body>
</html>